.aa {
aspect-ratio: auto;
}
.as {
aspect-ratio: 1 / 1;
}
.av {
aspect-ratio: 16 / 9;
}
.s {
max-width: 640px;}
.m {
max-width: 768px;}
.l {
max-width: 1024px;}
.x {
max-width: 1280px;}
.c1 {
columns: 1;
}
.c2 {
columns: 2;
}
.c3 {
columns: 3;
}
.c4 {
columns: 4;
}
.c5 {
columns: 5;
}
.c6 {
columns: 6;
}
.c7 {
columns: 7;
}
.c8 {
columns: 8;
}
.c9 {
columns: 9;
}
.c1 {
columns: 10;
}
.c1 {
columns: 11;
}
.c1 {
columns: 12;
}
.ca {
columns: auto;
}
.c3 {
columns: 16rem; 
}
.c2 {
columns: 18rem; 
}
.cx {
columns: 20rem; 
}
.cs {
columns: 24rem; 
}
.cm {
columns: 28rem; 
}
.cl {
columns: 32rem; 
}
.cx {
columns: 36rem; 
}
.c2 {
columns: 42rem; 
}
.c3 {
columns: 48rem; 
}
.c4 {
columns: 56rem; 
}
.c5 {
columns: 64rem; 
}
.c6 {
columns: 72rem; 
}
.c7 {
columns: 80rem; 
}
.baa {
break-after: auto;
}
.baa {
break-after: avoid;
}
.baa {
break-after: all;
}
.baap {
break-after: avoid-page;
}
.bap {
break-after: page;
}
.bal {
break-after: left;
}
.bar {
break-after: right;
}
.bac {
break-after: column;
}
.bba {
break-before: auto;
}
.bba {
break-before: avoid;
}
.bba {
break-before: all;
}
.bbap {
break-before: avoid-page;
}
.bbp {
break-before: page;
}
.bbl {
break-before: left;
}
.bbr {
break-before: right;
}
.bbc {
break-before: column;
}
.bia {
break-inside: auto;
}
.bia {
break-inside: avoid;
}
.biap {
break-inside: avoid-page;
}
.biac {
break-inside: avoid-column;
}
.bdc {
box-decoration-break: clone;
}
.bds {
box-decoration-break: slice;
}
.bb {
box-sizing: border-box;
}
.bc {
box-sizing: content-box;
}
.b {
display: block;
}
.ib {
display: inline-block;
}
.i {
display: inline;
}
.f {
display: flex;
}
.if {
display: inline-flex;
}
.t {
display: table;
}
.it {
display: inline-table;
}
.tc {
display: table-caption;
}
.tc {
display: table-cell;
}
.tc {
display: table-column;
}
.tcg {
display: table-column-group;
}
.tfg {
display: table-footer-group;
}
.thg {
display: table-header-group;
}
.trg {
display: table-row-group;
}
.tr {
display: table-row;
}
.fr {
display: flow-root;
}
.g {
display: grid;
}
.ig {
display: inline-grid;
}
.c {
display: contents;
}
.li {
display: list-item;
}
.h {
display: none;
}
.fr {
float: right;
}
.fl {
float: left;
}
.fn {
float: none;
}
.cl {
clear: left;
}
.cr {
clear: right;
}
.cb {
clear: both;
}
.cn {
clear: none;
}
.i {
isolation: isolate;
}
.ia {
isolation: auto;
}
.oc {
object-fit: contain;
}
.oc {
object-fit: cover;
}
.of {
object-fit: fill;
}
.on {
object-fit: none;
}
.osd {
object-fit: scale-down;
}
.ob {
object-position: bottom;
}
.oc {
object-position: center;
}
.ol {
object-position: left;
}
.olb {
object-position: left bottom;
}
.olt {
object-position: left top;
}
.or {
object-position: right;
}
.orb {
object-position: right bottom;
}
.ort {
object-position: right top;
}
.ot {
object-position: top;
}
.oa {
overflow: auto;
}
.oh {
overflow: hidden;
}
.oc {
overflow: clip;
}
.ov {
overflow: visible;
}
.os {
overflow: scroll;
}
.oxa {
overflow-x: auto;
}
.oya {
overflow-y: auto;
}
.oxh {
overflow-x: hidden;
}
.oyh {
overflow-y: hidden;
}
.oxc {
overflow-x: clip;
}
.oyc {
overflow-y: clip;
}
.oxv {
overflow-x: visible;
}
.oyv {
overflow-y: visible;
}
.oxs {
overflow-x: scroll;
}
.oys {
overflow-y: scroll;
}
.oa {
overscroll-behavior: auto;
}
.oc {
overscroll-behavior: contain;
}
.on {
overscroll-behavior: none;
}
.oya {
overscroll-behavior-y: auto;
}
.oyc {
overscroll-behavior-y: contain;
}
.oyn {
overscroll-behavior-y: none;
}
.oxa {
overscroll-behavior-x: auto;
}
.oxc {
overscroll-behavior-x: contain;
}
.oxn {
overscroll-behavior-x: none;
}
.s {
position: static;
}
.f {
position: fixed;
}
.a {
position: absolute;
}
.r {
position: relative;
}
.s {
position: sticky;
}
.i0 {
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
}
.ix0 {
left: 0px;
right: 0px;
}
.iy0 {
top: 0px;
bottom: 0px;
}
.t0 {
top: 0px;
}
.r0 {
right: 0px;
}
.b0 {
bottom: 0px;
}
.l0 {
left: 0px;
}
.ip {
top: 1px;
right: 1px;
bottom: 1px;
left: 1px;
}
.ixp {
left: 1px;
right: 1px;
}
.iyp {
top: 1px;
bottom: 1px;
}
.tp {
top: 1px;
}
.rp {
right: 1px;
}
.bp {
bottom: 1px;
}
.lp {
left: 1px;
}
.i0 {
top: 0.125rem; 
right: 0.125rem; 
bottom: 0.125rem; 
left: 0.125rem; 
}
.ix0 {
left: 0.125rem; 
right: 0.125rem; 
}
.iy0 {
top: 0.125rem; 
bottom: 0.125rem; 
}
.t0 {
top: 0.125rem; 
}
.r0 {
right: 0.125rem; 
}
.b0 {
bottom: 0.125rem; 
}
.l0 {
left: 0.125rem; 
}
.i1 {
top: 0.25rem; 
right: 0.25rem; 
bottom: 0.25rem; 
left: 0.25rem; 
}
.ix1 {
left: 0.25rem; 
right: 0.25rem; 
}
.iy1 {
top: 0.25rem; 
bottom: 0.25rem; 
}
.t1 {
top: 0.25rem; 
}
.r1 {
right: 0.25rem; 
}
.b1 {
bottom: 0.25rem; 
}
.l1 {
left: 0.25rem; 
}
.i1 {
top: 0.375rem; 
right: 0.375rem; 
bottom: 0.375rem; 
left: 0.375rem; 
}
.ix1 {
left: 0.375rem; 
right: 0.375rem; 
}
.iy1 {
top: 0.375rem; 
bottom: 0.375rem; 
}
.t1 {
top: 0.375rem; 
}
.r1 {
right: 0.375rem; 
}
.b1 {
bottom: 0.375rem; 
}
.l1 {
left: 0.375rem; 
}
.i2 {
top: 0.5rem; 
right: 0.5rem; 
bottom: 0.5rem; 
left: 0.5rem; 
}
.ix2 {
left: 0.5rem; 
right: 0.5rem; 
}
.iy2 {
top: 0.5rem; 
bottom: 0.5rem; 
}
.t2 {
top: 0.5rem; 
}
.r2 {
right: 0.5rem; 
}
.b2 {
bottom: 0.5rem; 
}
.l2 {
left: 0.5rem; 
}
.i2 {
top: 0.625rem; 
right: 0.625rem; 
bottom: 0.625rem; 
left: 0.625rem; 
}
.ix2 {
left: 0.625rem; 
right: 0.625rem; 
}
.iy2 {
top: 0.625rem; 
bottom: 0.625rem; 
}
.t2 {
top: 0.625rem; 
}
.r2 {
right: 0.625rem; 
}
.b2 {
bottom: 0.625rem; 
}
.l2 {
left: 0.625rem; 
}
.i3 {
top: 0.75rem; 
right: 0.75rem; 
bottom: 0.75rem; 
left: 0.75rem; 
}
.ix3 {
left: 0.75rem; 
right: 0.75rem; 
}
.iy3 {
top: 0.75rem; 
bottom: 0.75rem; 
}
.t3 {
top: 0.75rem; 
}
.r3 {
right: 0.75rem; 
}
.b3 {
bottom: 0.75rem; 
}
.l3 {
left: 0.75rem; 
}
.i3 {
top: 0.875rem; 
right: 0.875rem; 
bottom: 0.875rem; 
left: 0.875rem; 
}
.ix3 {
left: 0.875rem; 
right: 0.875rem; 
}
.iy3 {
top: 0.875rem; 
bottom: 0.875rem; 
}
.t3 {
top: 0.875rem; 
}
.r3 {
right: 0.875rem; 
}
.b3 {
bottom: 0.875rem; 
}
.l3 {
left: 0.875rem; 
}
.i4 {
top: 1rem; 
right: 1rem; 
bottom: 1rem; 
left: 1rem; 
}
.ix4 {
left: 1rem; 
right: 1rem; 
}
.iy4 {
top: 1rem; 
bottom: 1rem; 
}
.t4 {
top: 1rem; 
}
.r4 {
right: 1rem; 
}
.b4 {
bottom: 1rem; 
}
.l4 {
left: 1rem; 
}
.i5 {
top: 1.25rem; 
right: 1.25rem; 
bottom: 1.25rem; 
left: 1.25rem; 
}
.ix5 {
left: 1.25rem; 
right: 1.25rem; 
}
.iy5 {
top: 1.25rem; 
bottom: 1.25rem; 
}
.t5 {
top: 1.25rem; 
}
.r5 {
right: 1.25rem; 
}
.b5 {
bottom: 1.25rem; 
}
.l5 {
left: 1.25rem; 
}
.i6 {
top: 1.5rem; 
right: 1.5rem; 
bottom: 1.5rem; 
left: 1.5rem; 
}
.ix6 {
left: 1.5rem; 
right: 1.5rem; 
}
.iy6 {
top: 1.5rem; 
bottom: 1.5rem; 
}
.t6 {
top: 1.5rem; 
}
.r6 {
right: 1.5rem; 
}
.b6 {
bottom: 1.5rem; 
}
.l6 {
left: 1.5rem; 
}
.i7 {
top: 1.75rem; 
right: 1.75rem; 
bottom: 1.75rem; 
left: 1.75rem; 
}
.ix7 {
left: 1.75rem; 
right: 1.75rem; 
}
.iy7 {
top: 1.75rem; 
bottom: 1.75rem; 
}
.t7 {
top: 1.75rem; 
}
.r7 {
right: 1.75rem; 
}
.b7 {
bottom: 1.75rem; 
}
.l7 {
left: 1.75rem; 
}
.i8 {
top: 2rem; 
right: 2rem; 
bottom: 2rem; 
left: 2rem; 
}
.ix8 {
left: 2rem; 
right: 2rem; 
}
.iy8 {
top: 2rem; 
bottom: 2rem; 
}
.t8 {
top: 2rem; 
}
.r8 {
right: 2rem; 
}
.b8 {
bottom: 2rem; 
}
.l8 {
left: 2rem; 
}
.i9 {
top: 2.25rem; 
right: 2.25rem; 
bottom: 2.25rem; 
left: 2.25rem; 
}
.ix9 {
left: 2.25rem; 
right: 2.25rem; 
}
.iy9 {
top: 2.25rem; 
bottom: 2.25rem; 
}
.t9 {
top: 2.25rem; 
}
.r9 {
right: 2.25rem; 
}
.b9 {
bottom: 2.25rem; 
}
.l9 {
left: 2.25rem; 
}
.i1 {
top: 2.5rem; 
right: 2.5rem; 
bottom: 2.5rem; 
left: 2.5rem; 
}
.ix1 {
left: 2.5rem; 
right: 2.5rem; 
}
.iy1 {
top: 2.5rem; 
bottom: 2.5rem; 
}
.t1 {
top: 2.5rem; 
}
.r1 {
right: 2.5rem; 
}
.b1 {
bottom: 2.5rem; 
}
.l1 {
left: 2.5rem; 
}
.i1 {
top: 2.75rem; 
right: 2.75rem; 
bottom: 2.75rem; 
left: 2.75rem; 
}
.ix1 {
left: 2.75rem; 
right: 2.75rem; 
}
.iy1 {
top: 2.75rem; 
bottom: 2.75rem; 
}
.t1 {
top: 2.75rem; 
}
.r1 {
right: 2.75rem; 
}
.b1 {
bottom: 2.75rem; 
}
.l1 {
left: 2.75rem; 
}
.i1 {
top: 3rem; 
right: 3rem; 
bottom: 3rem; 
left: 3rem; 
}
.ix1 {
left: 3rem; 
right: 3rem; 
}
.iy1 {
top: 3rem; 
bottom: 3rem; 
}
.t1 {
top: 3rem; 
}
.r1 {
right: 3rem; 
}
.b1 {
bottom: 3rem; 
}
.l1 {
left: 3rem; 
}
.i1 {
top: 3.5rem; 
right: 3.5rem; 
bottom: 3.5rem; 
left: 3.5rem; 
}
.ix1 {
left: 3.5rem; 
right: 3.5rem; 
}
.iy1 {
top: 3.5rem; 
bottom: 3.5rem; 
}
.t1 {
top: 3.5rem; 
}
.r1 {
right: 3.5rem; 
}
.b1 {
bottom: 3.5rem; 
}
.l1 {
left: 3.5rem; 
}
.i1 {
top: 4rem; 
right: 4rem; 
bottom: 4rem; 
left: 4rem; 
}
.ix1 {
left: 4rem; 
right: 4rem; 
}
.iy1 {
top: 4rem; 
bottom: 4rem; 
}
.t1 {
top: 4rem; 
}
.r1 {
right: 4rem; 
}
.b1 {
bottom: 4rem; 
}
.l1 {
left: 4rem; 
}
.i2 {
top: 5rem; 
right: 5rem; 
bottom: 5rem; 
left: 5rem; 
}
.ix2 {
left: 5rem; 
right: 5rem; 
}
.iy2 {
top: 5rem; 
bottom: 5rem; 
}
.t2 {
top: 5rem; 
}
.r2 {
right: 5rem; 
}
.b2 {
bottom: 5rem; 
}
.l2 {
left: 5rem; 
}
.i2 {
top: 6rem; 
right: 6rem; 
bottom: 6rem; 
left: 6rem; 
}
.ix2 {
left: 6rem; 
right: 6rem; 
}
.iy2 {
top: 6rem; 
bottom: 6rem; 
}
.t2 {
top: 6rem; 
}
.r2 {
right: 6rem; 
}
.b2 {
bottom: 6rem; 
}
.l2 {
left: 6rem; 
}
.i2 {
top: 7rem; 
right: 7rem; 
bottom: 7rem; 
left: 7rem; 
}
.ix2 {
left: 7rem; 
right: 7rem; 
}
.iy2 {
top: 7rem; 
bottom: 7rem; 
}
.t2 {
top: 7rem; 
}
.r2 {
right: 7rem; 
}
.b2 {
bottom: 7rem; 
}
.l2 {
left: 7rem; 
}
.i3 {
top: 8rem; 
right: 8rem; 
bottom: 8rem; 
left: 8rem; 
}
.ix3 {
left: 8rem; 
right: 8rem; 
}
.iy3 {
top: 8rem; 
bottom: 8rem; 
}
.t3 {
top: 8rem; 
}
.r3 {
right: 8rem; 
}
.b3 {
bottom: 8rem; 
}
.l3 {
left: 8rem; 
}
.i3 {
top: 9rem; 
right: 9rem; 
bottom: 9rem; 
left: 9rem; 
}
.ix3 {
left: 9rem; 
right: 9rem; 
}
.iy3 {
top: 9rem; 
bottom: 9rem; 
}
.t3 {
top: 9rem; 
}
.r3 {
right: 9rem; 
}
.b3 {
bottom: 9rem; 
}
.l3 {
left: 9rem; 
}
.i4 {
top: 10rem; 
right: 10rem; 
bottom: 10rem; 
left: 10rem; 
}
.ix4 {
left: 10rem; 
right: 10rem; 
}
.iy4 {
top: 10rem; 
bottom: 10rem; 
}
.t4 {
top: 10rem; 
}
.r4 {
right: 10rem; 
}
.b4 {
bottom: 10rem; 
}
.l4 {
left: 10rem; 
}
.i4 {
top: 11rem; 
right: 11rem; 
bottom: 11rem; 
left: 11rem; 
}
.ix4 {
left: 11rem; 
right: 11rem; 
}
.iy4 {
top: 11rem; 
bottom: 11rem; 
}
.t4 {
top: 11rem; 
}
.r4 {
right: 11rem; 
}
.b4 {
bottom: 11rem; 
}
.l4 {
left: 11rem; 
}
.i4 {
top: 12rem; 
right: 12rem; 
bottom: 12rem; 
left: 12rem; 
}
.ix4 {
left: 12rem; 
right: 12rem; 
}
.iy4 {
top: 12rem; 
bottom: 12rem; 
}
.t4 {
top: 12rem; 
}
.r4 {
right: 12rem; 
}
.b4 {
bottom: 12rem; 
}
.l4 {
left: 12rem; 
}
.i5 {
top: 13rem; 
right: 13rem; 
bottom: 13rem; 
left: 13rem; 
}
.ix5 {
left: 13rem; 
right: 13rem; 
}
.iy5 {
top: 13rem; 
bottom: 13rem; 
}
.t5 {
top: 13rem; 
}
.r5 {
right: 13rem; 
}
.b5 {
bottom: 13rem; 
}
.l5 {
left: 13rem; 
}
.i5 {
top: 14rem; 
right: 14rem; 
bottom: 14rem; 
left: 14rem; 
}
.ix5 {
left: 14rem; 
right: 14rem; 
}
.iy5 {
top: 14rem; 
bottom: 14rem; 
}
.t5 {
top: 14rem; 
}
.r5 {
right: 14rem; 
}
.b5 {
bottom: 14rem; 
}
.l5 {
left: 14rem; 
}
.i6 {
top: 15rem; 
right: 15rem; 
bottom: 15rem; 
left: 15rem; 
}
.ix6 {
left: 15rem; 
right: 15rem; 
}
.iy6 {
top: 15rem; 
bottom: 15rem; 
}
.t6 {
top: 15rem; 
}
.r6 {
right: 15rem; 
}
.b6 {
bottom: 15rem; 
}
.l6 {
left: 15rem; 
}
.i6 {
top: 16rem; 
right: 16rem; 
bottom: 16rem; 
left: 16rem; 
}
.ix6 {
left: 16rem; 
right: 16rem; 
}
.iy6 {
top: 16rem; 
bottom: 16rem; 
}
.t6 {
top: 16rem; 
}
.r6 {
right: 16rem; 
}
.b6 {
bottom: 16rem; 
}
.l6 {
left: 16rem; 
}
.i7 {
top: 18rem; 
right: 18rem; 
bottom: 18rem; 
left: 18rem; 
}
.ix7 {
left: 18rem; 
right: 18rem; 
}
.iy7 {
top: 18rem; 
bottom: 18rem; 
}
.t7 {
top: 18rem; 
}
.r7 {
right: 18rem; 
}
.b7 {
bottom: 18rem; 
}
.l7 {
left: 18rem; 
}
.i8 {
top: 20rem; 
right: 20rem; 
bottom: 20rem; 
left: 20rem; 
}
.ix8 {
left: 20rem; 
right: 20rem; 
}
.iy8 {
top: 20rem; 
bottom: 20rem; 
}
.t8 {
top: 20rem; 
}
.r8 {
right: 20rem; 
}
.b8 {
bottom: 20rem; 
}
.l8 {
left: 20rem; 
}
.i9 {
top:24rem;right:24rem;bottom:24rem;left:24rem;}
.ix9 {
left: 24rem; 
right: 24rem; 
}
.iy9 {
top: 24rem; 
bottom: 24rem; 
}
.t9 {
top: 24rem; 
}
.r9 {
right: 24rem; 
}
.b9 {
bottom: 24rem; 
}
.l9 {
left: 24rem; 
}
.ia {
top: auto;
right: auto;
bottom: auto;
left: auto;
}
.i1 {
top: 50%;
right: 50%;
bottom: 50%;
left: 50%;
}
.i1 {
top: 33.333333%;
right: 33.333333%;
bottom: 33.333333%;
left: 33.333333%;
}
.i2 {
top: 66.666667%;
right: 66.666667%;
bottom: 66.666667%;
left: 66.666667%;
}
.i1 {
top: 25%;
right: 25%;
bottom: 25%;
left: 25%;
}
.i2 {
top: 50%;
right: 50%;
bottom: 50%;
left: 50%;
}
.i3 {
top: 75%;
right: 75%;
bottom: 75%;
left: 75%;
}
.if {
top: 100%;
right: 100%;
bottom: 100%;
left: 100%;
}
.ixa {
left: auto;
right: auto;
}
.ix1 {
left: 50%;
right: 50%;
}
.ix1 {
left: 33.333333%;
right: 33.333333%;
}
.ix2 {
left: 66.666667%;
right: 66.666667%;
}
.ix1 {
left: 25%;
right: 25%;
}
.ix2 {
left: 50%;
right: 50%;
}
.ix3 {
left: 75%;
right: 75%;
}
.ixf {
left: 100%;
right: 100%;
}
.iya {
top: auto;
bottom: auto;
}
.iy1 {
top: 50%;
bottom: 50%;
}
.iy1 {
top: 33.333333%;
bottom: 33.333333%;
}
.iy2 {
top: 66.666667%;
bottom: 66.666667%;
}
.iy1 {
top: 25%;
bottom: 25%;
}
.iy2 {
top: 50%;
bottom: 50%;
}
.iy3 {
top: 75%;
bottom: 75%;
}
.iyf {
top: 100%;
bottom: 100%;
}
.ta {
top: auto;
}
.t1 {
top: 50%;
}
.t1 {
top: 33.333333%;
}
.t2 {
top: 66.666667%;
}
.t1 {
top: 25%;
}
.t2 {
top: 50%;
}
.t3 {
top: 75%;
}
.tf {
top: 100%;
}
.ra {
right: auto;
}
.r1 {
right: 50%;
}
.r1 {
right: 33.333333%;
}
.r2 {
right: 66.666667%;
}
.r1 {
right: 25%;
}
.r2 {
right: 50%;
}
.r3 {
right: 75%;
}
.rf {
right: 100%;
}
.ba {
bottom: auto;
}
.b1 {
bottom: 50%;
}
.b1 {
bottom: 33.333333%;
}
.b2 {
bottom: 66.666667%;
}
.b1 {
bottom: 25%;
}
.b2 {
bottom: 50%;
}
.b3 {
bottom: 75%;
}
.bf {
bottom: 100%;
}
.la {
left: auto;
}
.l1 {
left: 50%;
}
.l1 {
left: 33.333333%;
}
.l2 {
left: 66.666667%;
}
.l1 {
left: 25%;
}
.l2 {
left: 50%;
}
.l3 {
left: 75%;
}
.lf {
left: 100%;
}
.v {
visibility: visible;
}
.i {
visibility: hidden;
}
.c {
visibility: collapse;
}
