.m{max-width: 1536px;}
.p{position: absolute;}
.a{accent-color: #fef3c7;}
.ac{accent-color: #fde68a;}
.aca{accent-color: auto;}
.acc{accent-color: currentColor;}
.aci{accent-color: inherit;}
.act{accent-color: transparent;}
.v{vertical-align: baseline;}
.va{vertical-align: bottom;}
.vam{vertical-align: middle;}
.vas{vertical-align: sub;}
.vasu{vertical-align: super;}
.vat{vertical-align: text-bottom;}
.vatt{vertical-align: text-top;}
.vato{vertical-align: top;}
.ab{animation: bounce 1s infinite;@keyframes bounce {  0%, 100% {    transform: translateY(-25%);    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);  }  50% {    transform: translateY(0);    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);  }}}
.an{animation: none;}
.ap{animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;@keyframes ping {  75%, 100% {    transform: scale(2);    opacity: 0;  }}}
.apb{animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;@keyframes pulse {  0%, 100% {    opacity: 1;  }  50% {    opacity: .5;  }}}
.as{animation: spin 1s linear infinite;@keyframes spin {  from {    transform: rotate(0deg);  }  to {    transform: rotate(360deg);  }}}
.ano{appearance: none;}
.ar{aspect-ratio: auto;}
.ar1{aspect-ratio: 1 / 1;}
.ar16{aspect-ratio: 16 / 9;}
.g{grid-auto-columns: auto;}
.ga{grid-auto-columns: minmax(0, 1fr);}
.gac{grid-auto-columns: max-content;}
.gacm{grid-auto-columns: min-content;}
.gar{grid-auto-rows: auto;}
.garm{grid-auto-rows: minmax(0, 1fr);}
.b{backdrop-filter: blur(8px);}
.bf{backdrop-filter: blur(40px);}
.bfb{backdrop-filter: blur(64px);}
.bfbl{backdrop-filter: blur(16px);}
.bfbr{backdrop-filter: brightness(0);}
.bfc{backdrop-filter: contrast(0);}
.bfco{backdrop-filter: contrast(1);}
.bfg{backdrop-filter: grayscale(100%);}
.bfgr{backdrop-filter: grayscale(0);}
.bfh{backdrop-filter: hue-rotate(0deg);}
.bfhr{backdrop-filter: hue-rotate(15deg);}
.bfi{backdrop-filter: invert(100%);}
.bfin{backdrop-filter: invert(0);}
.bfo{backdrop-filter: opacity(0);}
.bfop{backdrop-filter: opacity(0.1);}
.bfs{backdrop-filter: saturate(0);}
.bfsa{backdrop-filter: saturate(1);}
.bfse{backdrop-filter: sepia(100%);}
.f{flex-basis: 0px;}
.fb{flex-basis: 0.125rem;}
.fb0{flex-basis: 0.25rem;}
.fb8{flex-basis: 8.333333%;}
.fb5{flex-basis: 50%;}
.fb3{flex-basis: 33.333333%;}
.fb2{flex-basis: 25%;}
.fb20{flex-basis: 20%;}
.fb1{flex-basis: 16.666667%;}
.fb83{flex-basis: 83.333333%;}
.fb9{flex-basis: 91.666667%;}
.fb3r{flex-basis: 3rem;}
.fb4{flex-basis: 4rem;}
.fb16{flex-basis: 16.666667%;}
.fb6{flex-basis: 66.666667%;}
.fb50{flex-basis: 50%;}
.fb40{flex-basis: 40%;}
.fb33{flex-basis: 33.333333%;}
.fb5r{flex-basis: 5rem;}
.fb6r{flex-basis: 6rem;}
.fb7{flex-basis: 7rem;}
.fb25{flex-basis: 25%;}
.fb75{flex-basis: 75%;}
.fb60{flex-basis: 60%;}
.fb8r{flex-basis: 8rem;}
.fb9r{flex-basis: 9rem;}
.fb1r{flex-basis: 1rem;}
.fb80{flex-basis: 80%;}
.fb66{flex-basis: 66.666667%;}
.fb10{flex-basis: 10rem;}
.fb11{flex-basis: 11rem;}
.fb12{flex-basis: 12rem;}
.fb41{flex-basis: 41.666667%;}
.fb13{flex-basis: 13rem;}
.fb14{flex-basis: 14rem;}
.fb15{flex-basis: 15rem;}
.fb58{flex-basis: 58.333333%;}
.fb18{flex-basis: 18rem;}
.fb2r{flex-basis: 2rem;}
.fb24{flex-basis: 24rem;}
.fba{flex-basis: auto;}
.fb1p{flex-basis: 1px;}
.bs{background-size: auto;}
.bb{background-blend-mode: color;}
.bbm{background-blend-mode: color-burn;}
.bbmc{background-blend-mode: color-dodge;}
.bbmd{background-blend-mode: darken;}
.bbme{background-blend-mode: exclusion;}
.bbmh{background-blend-mode: hard-light;}
.bbml{background-blend-mode: lighten;}
.bbmm{background-blend-mode: multiply;}
.bbmn{background-blend-mode: normal;}
.bbmo{background-blend-mode: overlay;}
.bbms{background-blend-mode: saturation;}
.bp{background-position: bottom;}
.bpc{background-position: center;}
.bc{background-clip: border-box;}
.bcc{background-clip: content-box;}
.bcp{background-clip: padding-box;}
.bct{background-clip: text;}
.bsc{background-size: contain;}
.bsco{background-size: cover;}
.ba{background-attachment: fixed;}
.bpl{background-position: left;}
.bple{background-position: left bottom;}
.bal{background-attachment: local;}
.br{background-repeat: no-repeat;}
.bi{background-image: none;}
.bo{background-origin: border-box;}
.boc{background-origin: content-box;}
.bop{background-origin: padding-box;}
.brr{background-repeat: repeat;}
.brro{background-repeat: round;}
.brs{background-repeat: space;}
.brrx{background-repeat: repeat-x;}
.brry{background-repeat: repeat-y;}
.bpr{background-position: right;}
.bpri{background-position: right bottom;}
.bas{background-attachment: scroll;}
.bpt{background-position: top;}
.d{display: block;}
.fbl{filter: blur(8px);}
.fblu{filter: blur(40px);}
.bw{border-width: 1px;}
.bw0{border-width: 0px;}
.bw2{border-width: 2px;}
.bw4{border-width: 4px;}
.bw8{border-width: 8px;}
.bbw{border-bottom-width: 1px;}
.bbw0{border-bottom-width: 0px;}
.bbw2{border-bottom-width: 2px;}
.bbw4{border-bottom-width: 4px;}
.bbw8{border-bottom-width: 8px;}
.bcco{border-collapse: collapse;}
.bsd{border-style: dashed;}
.bsdo{border-style: dotted;}
.bie{border-inline-end-width: 1px;}
.biew{border-inline-end-width: 0px;}
.bsh{border-style: hidden;}
.bl{border-left-width: 1px;}
.blw{border-left-width: 0px;}
.blw2{border-left-width: 2px;}
.blw4{border-left-width: 4px;}
.blw8{border-left-width: 8px;}
.bsn{border-style: none;}
.brw{border-right-width: 1px;}
.brw0{border-right-width: 0px;}
.brw2{border-right-width: 2px;}
.brw4{border-right-width: 4px;}
.brw8{border-right-width: 8px;}
.bis{border-inline-start-width: 1px;}
.bisw{border-inline-start-width: 0px;}
.bcs{border-collapse: separate;}
.bss{border-style: solid;}
.bs0{border-spacing: 0px 0px;}
.bs2{border-spacing: 2.5rem 2.5rem;}
.bs3{border-spacing: 3rem 3rem;}
.bs4{border-spacing: 4rem 4rem;}
.bs5{border-spacing: 5rem 5rem;}
.bs6{border-spacing: 6rem 6rem;}
.bs7{border-spacing: 7rem 7rem;}
.bs8{border-spacing: 8rem 8rem;}
.bs9{border-spacing: 9rem 9rem;}
.bs1{border-spacing: 1rem 1rem;}
.bs10{border-spacing: 10rem 10rem;}
.bs11{border-spacing: 11rem 11rem;}
.bs12{border-spacing: 12rem 12rem;}
.bs13{border-spacing: 13rem 13rem;}
.bs14{border-spacing: 14rem 14rem;}
.bs15{border-spacing: 15rem 15rem;}
.bs16{border-spacing: 16rem 16rem;}
.bs18{border-spacing: 18rem 18rem;}
.bs2r{border-spacing: 2rem 2rem;}
.bs20{border-spacing: 20rem 20rem;}
.bs24{border-spacing: 24rem 24rem;}
.bs1p{border-spacing: 1px 1px;}
.bt{border-top-width: 1px;}
.btw{border-top-width: 0px;}
.btw2{border-top-width: 2px;}
.btw4{border-top-width: 4px;}
.btw8{border-top-width: 8px;}
.blw1{border-left-width: 1px;border-right-width: 1px;}
.blw0{border-left-width: 0px;border-right-width: 0px;}
.btw1{border-top-width: 1px;border-bottom-width: 1px;}
.btw0{border-top-width: 0px;border-bottom-width: 0px;}
.b0{bottom: 0px;}
.b5{bottom: 50%;}
.b3{bottom: 33.333333%;}
.b2{bottom: 25%;}
.b3r{bottom: 3rem;}
.b4{bottom: 4rem;}
.b6{bottom: 66.666667%;}
.b50{bottom: 50%;}
.b5r{bottom: 5rem;}
.b6r{bottom: 6rem;}
.b7{bottom: 7rem;}
.b75{bottom: 75%;}
.b8{bottom: 8rem;}
.b9{bottom: 9rem;}
.b1{bottom: 1rem;}
.b10{bottom: 10rem;}
.b11{bottom: 11rem;}
.b12{bottom: 12rem;}
.b13{bottom: 13rem;}
.b14{bottom: 14rem;}
.b15{bottom: 15rem;}
.b16{bottom: 16rem;}
.b18{bottom: 18rem;}
.b2r{bottom: 2rem;}
.b20{bottom: 20rem;}
.b24{bottom: 24rem;}
.bau{bottom: auto;}
.b100{bottom: 100%;}
.b1p{bottom: 1px;}
.bsb{box-sizing: border-box;}
.bscb{box-sizing: content-box;}
.bd{box-decoration-break: clone;}
.bdb{box-decoration-break: slice;}
.baa{break-after: all;}
.baau{break-after: auto;}
.baav{break-after: avoid;}
.baap{break-after: avoid-page;}
.bac{break-after: column;}
.bale{break-after: left;}
.bap{break-after: page;}
.bar{break-after: right;}
.w{word-break: break-all;}
.bba{break-before: all;}
.bbau{break-before: auto;}
.bbav{break-before: avoid;}
.bbap{break-before: avoid-page;}
.bbc{break-before: column;}
.bbl{break-before: left;}
.bbp{break-before: page;}
.bbr{break-before: right;}
.bia{break-inside: auto;}
.biav{break-inside: avoid;}
.biac{break-inside: avoid-column;}
.biap{break-inside: avoid-page;}
.wb{word-break: keep-all;}
.o{overflow-wrap: normal;word-break: normal;}
.ow{overflow-wrap: break-word;}
.fbr{filter: brightness(0);}
.fbri{filter: brightness(1);}
.t{text-transform: capitalize;}
.c{caption-side: bottom;}
.cs{caption-side: top;}
.cc{caret-color: #fef3c7;}
.ccc{caret-color: currentColor;}
.cci{caret-color: inherit;}
.cct{caret-color: transparent;}
.cb{clear: both;}
.cl{clear: left;}
.cn{clear: none;}
.cr{clear: right;}
.gc{grid-column: auto;}
.gce{grid-column-end: 1;}
.gce1{grid-column-end: 10;}
.gce2{grid-column-end: 2;}
.gce3{grid-column-end: 3;}
.gce4{grid-column-end: 4;}
.gce5{grid-column-end: 5;}
.gce6{grid-column-end: 6;}
.gce7{grid-column-end: 7;}
.gce8{grid-column-end: 8;}
.gce9{grid-column-end: 9;}
.gcea{grid-column-end: auto;}
.gcs{grid-column: span 1 / span 1;}
.gcsp{grid-column: span 10 / span 10;}
.gc1{grid-column: 1 / -1;}
.gcs1{grid-column-start: 1;}
.gcs2{grid-column-start: 2;}
.gcs3{grid-column-start: 3;}
.gcs4{grid-column-start: 4;}
.gcs5{grid-column-start: 5;}
.gcs6{grid-column-start: 6;}
.gcs7{grid-column-start: 7;}
.gcs8{grid-column-start: 8;}
.gcs9{grid-column-start: 9;}
.gcsa{grid-column-start: auto;}
.vc{visibility: collapse;}
.c1{columns: 1;}
.c10{columns: 10;}
.c11{columns: 11;}
.c12{columns: 12;}
.c2{columns: 2;}
.c4{columns: 42rem;}
.c18{columns: 18rem;}
.c3{columns: 3;}
.c48{columns: 48rem;}
.c16{columns: 16rem;}
.c5{columns: 56rem;}
.c6{columns: 64rem;}
.c7{columns: 72rem;}
.c8{columns: 80rem;}
.c9{columns: 9;}
.ca{columns: auto;}
.c32{columns: 32rem;}
.c28{columns: 28rem;}
.c24{columns: 24rem;}
.c36{columns: 36rem;}
.c20{columns: 20rem;}
.acs{align-content: space-around;}
.acb{align-content: baseline;}
.acsb{align-content: space-between;}
.acce{align-content: center;}
.acf{align-content: flex-end;}
.acse{align-content: space-evenly;}
.cno{content: none;}
.acn{align-content: normal;}
.acfs{align-content: flex-start;}
.acst{align-content: stretch;}
.dc{display: contents;}
.fc{filter: contrast(0);}
.fco{filter: contrast(1);}
.fcon{filter: contrast(1.25);}
.td{text-decoration-thickness: 0px;}
.tdt{text-decoration-thickness: 1px;}
.tdt2{text-decoration-thickness: 2px;}
.tdt4{text-decoration-thickness: 4px;}
.tdt8{text-decoration-thickness: 8px;}
.tdc{text-decoration-color: #fef3c7;}
.tdta{text-decoration-thickness: auto;}
.tdcc{text-decoration-color: currentColor;}
.tds{text-decoration-style: dashed;}
.tdsd{text-decoration-style: dotted;}
.tdtf{text-decoration-thickness: from-font;}
.tdci{text-decoration-color: inherit;}
.tdss{text-decoration-style: solid;}
.tdct{text-decoration-color: transparent;}
.tdsw{text-decoration-style: wavy;}
.td0{transition-delay: 0s;}
.td1{transition-delay: 100ms;}
.td10{transition-delay: 1000ms;}
.td15{transition-delay: 150ms;}
.td2{transition-delay: 200ms;}
.td3{transition-delay: 300ms;}
.td5{transition-delay: 500ms;}
.td7{transition-delay: 700ms;}
.td75{transition-delay: 75ms;}
.fv{font-variant-numeric: diagonal-fractions;}
.bsda{border-style: dashed;}
.bsno{border-style: none;}
.bsso{border-style: solid;}
.fd{filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));}
.fds{filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));}
.fdss{filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));}
.fdsh{filter: drop-shadow(0 0 #0000);}
.td0s{transition-duration: 0s;}
.td20{transition-duration: 200ms;}
.td30{transition-duration: 300ms;}
.td50{transition-duration: 500ms;}
.td70{transition-duration: 700ms;}
.tt{transition-timing-function: cubic-bezier(0.4, 0, 1, 1);}
.ttf{transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.ttfl{transition-timing-function: linear;}
.ttfc{transition-timing-function: cubic-bezier(0, 0, 0.2, 1);}
.i{inset-inline-end: 0px;}
.ii{inset-inline-end: 0.125rem;}
.iie{inset-inline-end: 0.25rem;}
.iie0{inset-inline-end: 0.375rem;}
.iie5{inset-inline-end: 50%;}
.iie3{inset-inline-end: 33.333333%;}
.iie2{inset-inline-end: 25%;}
.iie4{inset-inline-end: 4rem;}
.iie6{inset-inline-end: 66.666667%;}
.iie7{inset-inline-end: 7rem;}
.iie8{inset-inline-end: 8rem;}
.iie9{inset-inline-end: 9rem;}
.iie1{inset-inline-end: 1rem;}
.iiea{inset-inline-end: auto;}
.fcu{fill: currentColor;}
.fi{fill: inherit;}
.fn{fill: none;}
.ft{fill: transparent;}
.pf{position: fixed;}
.df{display: flex;}
.f1{flex: 1 1 0%;}
.f1 {flex: 1 1 auto;}
.fdc{flex-direction: column;}
.fdcr{flex-direction: column-reverse;}
.f0{flex: 0 1 auto;}
.fno{flex: none;}
.fw{flex-wrap: nowrap;}
.fdr{flex-direction: row;}
.fdrr{flex-direction: row-reverse;}
.fww{flex-wrap: wrap;}
.fwwr{flex-wrap: wrap-reverse;}
.fl{float: left;}
.fnon{float: none;}
.fr{float: right;}
.dfr{display: flow-root;}
.fw9{font-weight: 900;}
.fw7{font-weight: 700;}
.fw8{font-weight: 800;}
.fw2{font-weight: 200;}
.fw3{font-weight: 300;}
.fw5{font-weight: 500;}
.ff{font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;}
.fw4{font-weight: 400;}
.ffu{font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.fw6{font-weight: 600;}
.ffus{font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;}
.fw1{font-weight: 100;}
.g0{gap: 0px;}
.g2{gap: 2.5rem;}
.g3{gap: 3rem;}
.g4{gap: 4rem;}
.g5{gap: 5rem;}
.g6{gap: 6rem;}
.g7{gap: 7rem;}
.g8{gap: 8rem;}
.g9{gap: 9rem;}
.g1{gap: 1rem;}
.g10{gap: 10rem;}
.g11{gap: 11rem;}
.g12{gap: 12rem;}
.g13{gap: 13rem;}
.g14{gap: 14rem;}
.g15{gap: 15rem;}
.g16{gap: 16rem;}
.g18{gap: 18rem;}
.g2r{gap: 2rem;}
.g20{gap: 20rem;}
.g24{gap: 24rem;}
.g1p{gap: 1px;}
.cg{column-gap: 0px;}
.cg0{column-gap: 0.125rem;}
.cg2{column-gap: 2.5rem;}
.cg3{column-gap: 3rem;}
.cg4{column-gap: 4rem;}
.cg5{column-gap: 5rem;}
.cg6{column-gap: 6rem;}
.cg7{column-gap: 7rem;}
.cg8{column-gap: 8rem;}
.cg9{column-gap: 9rem;}
.cg1{column-gap: 1rem;}
.cg10{column-gap: 10rem;}
.cg11{column-gap: 11rem;}
.cg12{column-gap: 12rem;}
.cg13{column-gap: 13rem;}
.cg14{column-gap: 14rem;}
.cg15{column-gap: 15rem;}
.cg16{column-gap: 16rem;}
.cg18{column-gap: 18rem;}
.cg2r{column-gap: 2rem;}
.cg20{column-gap: 20rem;}
.cg24{column-gap: 24rem;}
.cg1p{column-gap: 1px;}
.r{row-gap: 0px;}
.rg{row-gap: 0.125rem;}
.rg0{row-gap: 0.25rem;}
.rg2{row-gap: 2.5rem;}
.rg3{row-gap: 3rem;}
.rg4{row-gap: 4rem;}
.rg5{row-gap: 5rem;}
.rg6{row-gap: 6rem;}
.rg7{row-gap: 7rem;}
.rg8{row-gap: 8rem;}
.rg9{row-gap: 9rem;}
.rg1{row-gap: 1rem;}
.rg10{row-gap: 10rem;}
.rg11{row-gap: 11rem;}
.rg12{row-gap: 12rem;}
.rg13{row-gap: 13rem;}
.rg14{row-gap: 14rem;}
.rg15{row-gap: 15rem;}
.rg16{row-gap: 16rem;}
.rg18{row-gap: 18rem;}
.rg2r{row-gap: 2rem;}
.rg20{row-gap: 20rem;}
.rg24{row-gap: 24rem;}
.rg1p{row-gap: 1px;}
.fg{filter: grayscale(100%);}
.fgr{filter: grayscale(0);}
.dg{display: grid;}
.gt{grid-template-columns: repeat(1, minmax(0, 1fr));}
.gtc{grid-template-columns: repeat(10, minmax(0, 1fr));}
.gtcr{grid-template-columns: repeat(11, minmax(0, 1fr));}
.gtcn{grid-template-columns: none;}
.gaf{grid-auto-flow: column;}
.gafc{grid-auto-flow: column dense;}
.gafd{grid-auto-flow: dense;}
.gafr{grid-auto-flow: row;}
.gtr{grid-template-rows: repeat(1, minmax(0, 1fr));}
.gtrr{grid-template-rows: repeat(2, minmax(0, 1fr));}
.gtrn{grid-template-rows: none;}
.fg1{flex-grow: 1;}
.fg0{flex-grow: 0;}
.h{height: 0px;}
.h0{height: 0.125rem;}
.h5{height: 50%;}
.h3{height: 33.333333%;}
.h2{height: 25%;}
.h20{height: 20%;}
.h1{height: 16.666667%;}
.h3r{height: 3rem;}
.h4{height: 4rem;}
.h6{height: 66.666667%;}
.h50{height: 50%;}
.h40{height: 40%;}
.h33{height: 33.333333%;}
.h5r{height: 5rem;}
.h6r{height: 6rem;}
.h7{height: 7rem;}
.h75{height: 75%;}
.h60{height: 60%;}
.h8{height: 8rem;}
.h9{height: 9rem;}
.h1r{height: 1rem;}
.h80{height: 80%;}
.h66{height: 66.666667%;}
.h10{height: 10rem;}
.h11{height: 11rem;}
.h12{height: 12rem;}
.h83{height: 83.333333%;}
.h13{height: 13rem;}
.h14{height: 14rem;}
.h15{height: 15rem;}
.h16{height: 16rem;}
.h18{height: 18rem;}
.h2r{height: 2rem;}
.h20r{height: 20rem;}
.h24{height: 24rem;}
.ha{height: auto;}
.hf{height: fit-content;}
.h100{height: 100%;}
.hm{height: max-content;}
.hmc{height: min-content;}
.h1p{height: 1px;}
.dn{display: none;}
.fh{filter: hue-rotate(0deg);}
.fhr{filter: hue-rotate(15deg);}
.fhro{filter: hue-rotate(180deg);}
.hau{hyphens: auto;}
.hma{hyphens: manual;}
.hn{hyphens: none;}
.ti{text-indent: 0px;}
.ti0{text-indent: 0.125rem;}
.ti2{text-indent: 2.5rem;}
.ti3{text-indent: 3rem;}
.ti4{text-indent: 4rem;}
.ti5{text-indent: 5rem;}
.ti6{text-indent: 6rem;}
.ti7{text-indent: 7rem;}
.ti8{text-indent: 8rem;}
.ti9{text-indent: 9rem;}
.ti1{text-indent: 1rem;}
.ti10{text-indent: 10rem;}
.ti11{text-indent: 11rem;}
.ti12{text-indent: 12rem;}
.ti13{text-indent: 13rem;}
.ti14{text-indent: 14rem;}
.ti15{text-indent: 15rem;}
.ti16{text-indent: 16rem;}
.ti18{text-indent: 18rem;}
.ti2r{text-indent: 2rem;}
.ti20{text-indent: 20rem;}
.ti24{text-indent: 24rem;}
.ti1p{text-indent: 1px;}
.di{display: inline;}
.dib{display: inline-block;}
.dif{display: inline-flex;}
.dig{display: inline-grid;}
.dit{display: inline-table;}
.i0{inset: 0px;}
.i5{inset: 50%;}
.i3{inset: 33.333333%;}
.i2{inset: 25%;}
.i3r{inset: 3rem;}
.i4{inset: 4rem;}
.i6{inset: 66.666667%;}
.i50{inset: 50%;}
.i5r{inset: 5rem;}
.i6r{inset: 6rem;}
.i7{inset: 7rem;}
.i75{inset: 75%;}
.i8{inset: 8rem;}
.i9{inset: 9rem;}
.i1{inset: 1rem;}
.i10{inset: 10rem;}
.i11{inset: 11rem;}
.i12{inset: 12rem;}
.i13{inset: 13rem;}
.i14{inset: 14rem;}
.i15{inset: 15rem;}
.i16{inset: 16rem;}
.i18{inset: 18rem;}
.i2r{inset: 2rem;}
.i20{inset: 20rem;}
.i24{inset: 24rem;}
.ia{inset: auto;}
.i100{inset: 100%;}
.i1p{inset: 1px;}
.l{left: 0px;right: 0px;}
.l0{left: 0.125rem; right: 0.125rem;}
.l5{left: 50%;right: 50%;}
.l3{left: 33.333333%;right: 33.333333%;}
.l2{left: 25%;right: 25%;}
.l3r{left: 3rem; right: 3rem;}
.l4{left: 4rem; right: 4rem;}
.l6{left: 66.666667%;right: 66.666667%;}
.l50{left: 50%;right: 50%;}
.l5r{left: 5rem; right: 5rem;}
.l6r{left: 6rem; right: 6rem;}
.l7{left: 7rem; right: 7rem;}
.l75{left: 75%;right: 75%;}
.l8{left: 8rem; right: 8rem;}
.l9{left: 9rem; right: 9rem;}
.l1{left: 1rem; right: 1rem;}
.l10{left: 10rem; right: 10rem;}
.l11{left: 11rem; right: 11rem;}
.l12{left: 12rem; right: 12rem;}
.l13{left: 13rem; right: 13rem;}
.l14{left: 14rem; right: 14rem;}
.l15{left: 15rem; right: 15rem;}
.l16{left: 16rem; right: 16rem;}
.l18{left: 18rem; right: 18rem;}
.l2r{left: 2rem; right: 2rem;}
.l20{left: 20rem; right: 20rem;}
.l24{left: 24rem; right: 24rem;}
.la{left: auto;right: auto;}
.l100{left: 100%;right: 100%;}
.l1p{left: 1px;right: 1px;}
.t0{top: 0px;bottom: 0px;}
.t5{top: 50%;bottom: 50%;}
.t3{top: 33.333333%;bottom: 33.333333%;}
.t2{top: 25%;bottom: 25%;}
.t3r{top: 3rem; bottom: 3rem;}
.t4{top: 4rem; bottom: 4rem;}
.t6{top: 66.666667%;bottom: 66.666667%;}
.t50{top: 50%;bottom: 50%;}
.t5r{top: 5rem; bottom: 5rem;}
.t6r{top: 6rem; bottom: 6rem;}
.t7{top: 7rem; bottom: 7rem;}
.t75{top: 75%;bottom: 75%;}
.t8{top: 8rem; bottom: 8rem;}
.t9{top: 9rem; bottom: 9rem;}
.t1{top: 1rem; bottom: 1rem;}
.t10{top: 10rem; bottom: 10rem;}
.t11{top: 11rem; bottom: 11rem;}
.t12{top: 12rem; bottom: 12rem;}
.t13{top: 13rem; bottom: 13rem;}
.t14{top: 14rem; bottom: 14rem;}
.t15{top: 15rem; bottom: 15rem;}
.t16{top: 16rem; bottom: 16rem;}
.t18{top: 18rem; bottom: 18rem;}
.t2r{top: 2rem; bottom: 2rem;}
.t20{top: 20rem; bottom: 20rem;}
.t24{top: 24rem; bottom: 24rem;}
.ta{top: auto;bottom: auto;}
.t100{top: 100%;bottom: 100%;}
.t1p{top: 1px;bottom: 1px;}
.fin{filter: invert(100%);}
.finv{filter: invert(0);}
.vh{visibility: hidden;}
.iis{isolation: isolate;}
.iau{isolation: auto;}
.fs{font-style: italic;}
.ai{align-items: baseline;}
.aic{align-items: center;}
.aif{align-items: flex-end;}
.aifs{align-items: flex-start;}
.ais{align-items: stretch;}
.j{justify-content: space-around;}
.jc{justify-content: space-between;}
.jcc{justify-content: center;}
.jcf{justify-content: flex-end;}
.jcs{justify-content: space-evenly;}
.ji{justify-items: center;}
.jie{justify-items: end;}
.jis{justify-items: start;}
.jist{justify-items: stretch;}
.jcn{justify-content: normal;}
.js{justify-self: auto;}
.jsc{justify-self: center;}
.jse{justify-self: end;}
.jss{justify-self: start;}
.jsst{justify-self: stretch;}
.jcfs{justify-content: flex-start;}
.jcst{justify-content: stretch;}
.lh{line-height: 2.5rem;}
.lh1{line-height: 1rem;}
.lh2{line-height: 2rem;}
.l0p{left: 0px;}
.l33{left: 33.333333%;}
.l25{left: 25%;}
.l3re{left: 3rem;}
.l4r{left: 4rem;}
.l66{left: 66.666667%;}
.l5re{left: 5rem;}
.l6re{left: 6rem;}
.l7r{left: 7rem;}
.l8r{left: 8rem;}
.l9r{left: 9rem;}
.l1r{left: 1rem;}
.l10r{left: 10rem;}
.l11r{left: 11rem;}
.l12r{left: 12rem;}
.l13r{left: 13rem;}
.l14r{left: 14rem;}
.l15r{left: 15rem;}
.l16r{left: 16rem;}
.l18r{left: 18rem;}
.l2re{left: 2rem;}
.l20r{left: 20rem;}
.l24r{left: 24rem;}
.lau{left: auto;}
.l1px{left: 1px;}
.mw{max-width: 1024px;}
.tdl{text-decoration-line: line-through;}
.fvn{font-variant-numeric: lining-nums;}
.ls{list-style-type: decimal;}
.lst{list-style-type: disc;}
.lsi{list-style-image: none;}
.lsp{list-style-position: inside;}
.dl{display: list-item;}
.lstn{list-style-type: none;}
.lspo{list-style-position: outside;}
.ttl{text-transform: lowercase;}
.m0{margin: 0px;}
.m2{margin: 2.5rem;}
.m3{margin: 3rem;}
.m4{margin: 4rem;}
.m5{margin: 5rem;}
.m6{margin: 6rem;}
.m7{margin: 7rem;}
.m8{margin: 8rem;}
.m9{margin: 9rem;}
.m1{margin: 1rem;}
.m10{margin: 10rem;}
.m11{margin: 11rem;}
.m12{margin: 12rem;}
.m13{margin: 13rem;}
.m14{margin: 14rem;}
.m15{margin: 15rem;}
.m16{margin: 16rem;}
.m18{margin: 18rem;}
.m2r{margin: 2rem;}
.m20{margin: 20rem;}
.m24{margin: 24rem;}
.ma{margin: auto;}
.m1p{margin: 1px;}
.mh{max-height: 0px;}
.mh0{max-height: 0.125rem;}
.mh2{max-height: 2.5rem;}
.mh3{max-height: 3rem;}
.mh4{max-height: 4rem;}
.mh5{max-height: 5rem;}
.mh6{max-height: 6rem;}
.mh7{max-height: 7rem;}
.mh8{max-height: 8rem;}
.mh9{max-height: 9rem;}
.mh1{max-height: 1rem;}
.mh10{max-height: 10rem;}
.mh11{max-height: 11rem;}
.mh12{max-height: 12rem;}
.mh13{max-height: 13rem;}
.mh14{max-height: 14rem;}
.mh15{max-height: 15rem;}
.mh16{max-height: 16rem;}
.mh18{max-height: 18rem;}
.mh2r{max-height: 2rem;}
.mh20{max-height: 20rem;}
.mh24{max-height: 24rem;}
.mhf{max-height: fit-content;}
.mhm{max-height: max-content;}
.mhmc{max-height: min-content;}
.mhn{max-height: none;}
.mh1p{max-height: 1px;}
.mw0{max-width: 0rem;}
.mw4{max-width: 42rem;}
.mw48{max-width: 48rem;}
.mw5{max-width: 56rem;}
.mw6{max-width: 64rem;}
.mw7{max-width: 72rem;}
.mw8{max-width: 80rem;}
.mwf{max-width: fit-content;}
.mw1{max-width: 100%;}
.mw3{max-width: 32rem;}
.mwm{max-width: max-content;}
.mw2{max-width: 28rem;}
.mwmc{max-width: min-content;}
.mwn{max-width: none;}
.mw65{max-width: 65ch;}
.mw15{max-width: 1536px;}
.mw10{max-width: 1024px;}
.mw76{max-width: 768px;}
.mw64{max-width: 640px;}
.mw12{max-width: 1280px;}
.mw24{max-width: 24rem;}
.mw36{max-width: 36rem;}
.mw20{max-width: 20rem;}
.mb{margin-bottom: 0px;}
.mb0{margin-bottom: 0.125rem;}
.mb2{margin-bottom: 2.5rem;}
.mb3{margin-bottom: 3rem;}
.mb4{margin-bottom: 4rem;}
.mb5{margin-bottom: 5rem;}
.mb6{margin-bottom: 6rem;}
.mb7{margin-bottom: 7rem;}
.mb8{margin-bottom: 8rem;}
.mb9{margin-bottom: 9rem;}
.mb1{margin-bottom: 1rem;}
.mb10{margin-bottom: 10rem;}
.mb11{margin-bottom: 11rem;}
.mb12{margin-bottom: 12rem;}
.mb13{margin-bottom: 13rem;}
.mb14{margin-bottom: 14rem;}
.mb15{margin-bottom: 15rem;}
.mb16{margin-bottom: 16rem;}
.mb18{margin-bottom: 18rem;}
.mb2r{margin-bottom: 2rem;}
.mb20{margin-bottom: 20rem;}
.mb24{margin-bottom: 24rem;}
.mba{margin-bottom: auto;}
.mb1p{margin-bottom: 1px;}
.mi{margin-inline-end: 0px;}
.mie{margin-inline-end: 0.125rem;}
.mie0{margin-inline-end: 0.25rem;}
.mie2{margin-inline-end: 2.5rem;}
.mie3{margin-inline-end: 3rem;}
.mie4{margin-inline-end: 4rem;}
.mie5{margin-inline-end: 5rem;}
.mie6{margin-inline-end: 6rem;}
.mie7{margin-inline-end: 7rem;}
.mie8{margin-inline-end: 8rem;}
.mie9{margin-inline-end: 9rem;}
.mie1{margin-inline-end: 1rem;}
.miea{margin-inline-end: auto;}
.mh0p{min-height: 0px;}
.mhfc{min-height: fit-content;}
.mw0p{min-width: 0px;}
.mwfc{min-width: fit-content;}
.mbm{mix-blend-mode: color;}
.mbmc{mix-blend-mode: color-burn;}
.mbmd{mix-blend-mode: darken;}
.mbme{mix-blend-mode: exclusion;}
.mbmh{mix-blend-mode: hard-light;}
.mbml{mix-blend-mode: lighten;}
.mbmm{mix-blend-mode: multiply;}
.mbmn{mix-blend-mode: normal;}
.mbmo{mix-blend-mode: overlay;}
.mbmp{mix-blend-mode: plus-lighter;}
.mbms{mix-blend-mode: saturation;}
.ml{margin-left: 0px;}
.ml0{margin-left: 0.125rem;}
.ml2{margin-left: 2.5rem;}
.ml3{margin-left: 3rem;}
.ml4{margin-left: 4rem;}
.ml5{margin-left: 5rem;}
.ml6{margin-left: 6rem;}
.ml7{margin-left: 7rem;}
.ml8{margin-left: 8rem;}
.ml9{margin-left: 9rem;}
.ml1{margin-left: 1rem;}
.ml10{margin-left: 10rem;}
.ml11{margin-left: 11rem;}
.ml12{margin-left: 12rem;}
.ml13{margin-left: 13rem;}
.ml14{margin-left: 14rem;}
.ml15{margin-left: 15rem;}
.ml16{margin-left: 16rem;}
.ml18{margin-left: 18rem;}
.ml2r{margin-left: 2rem;}
.ml20{margin-left: 20rem;}
.ml24{margin-left: 24rem;}
.mla{margin-left: auto;}
.ml1p{margin-left: 1px;}
.mr{margin-right: 0px;}
.mr0{margin-right: 0.125rem;}
.mr2{margin-right: 2.5rem;}
.mr3{margin-right: 3rem;}
.mr4{margin-right: 4rem;}
.mr5{margin-right: 5rem;}
.mr6{margin-right: 6rem;}
.mr7{margin-right: 7rem;}
.mr8{margin-right: 8rem;}
.mr9{margin-right: 9rem;}
.mr1{margin-right: 1rem;}
.mr10{margin-right: 10rem;}
.mr11{margin-right: 11rem;}
.mr12{margin-right: 12rem;}
.mr13{margin-right: 13rem;}
.mr14{margin-right: 14rem;}
.mr15{margin-right: 15rem;}
.mr16{margin-right: 16rem;}
.mr18{margin-right: 18rem;}
.mr2r{margin-right: 2rem;}
.mr20{margin-right: 20rem;}
.mr24{margin-right: 24rem;}
.mra{margin-right: auto;}
.mr1p{margin-right: 1px;}
.mis{margin-inline-start: 0px;}
.mis0{margin-inline-start: 0.125rem;}
.mis2{margin-inline-start: 2.5rem;}
.mis3{margin-inline-start: 3rem;}
.mis4{margin-inline-start: 4rem;}
.mis5{margin-inline-start: 5rem;}
.mis6{margin-inline-start: 6rem;}
.mis7{margin-inline-start: 7rem;}
.mis8{margin-inline-start: 8rem;}
.mis9{margin-inline-start: 9rem;}
.mis1{margin-inline-start: 1rem;}
.misa{margin-inline-start: auto;}
.mt{margin-top: 0px;}
.mt0{margin-top: 0.125rem;}
.mt2{margin-top: 2.5rem;}
.mt3{margin-top: 3rem;}
.mt4{margin-top: 4rem;}
.mt5{margin-top: 5rem;}
.mt6{margin-top: 6rem;}
.mt7{margin-top: 7rem;}
.mt8{margin-top: 8rem;}
.mt9{margin-top: 9rem;}
.mt1{margin-top: 1rem;}
.mt10{margin-top: 10rem;}
.mt11{margin-top: 11rem;}
.mt12{margin-top: 12rem;}
.mt13{margin-top: 13rem;}
.mt14{margin-top: 14rem;}
.mt15{margin-top: 15rem;}
.mt16{margin-top: 16rem;}
.mt18{margin-top: 18rem;}
.mt2r{margin-top: 2rem;}
.mt20{margin-top: 20rem;}
.mt24{margin-top: 24rem;}
.mta{margin-top: auto;}
.mt1p{margin-top: 1px;}
.ml0r{margin-left: 0px;margin-right: 0px;}
.ml3r{margin-left: 3rem; margin-right: 3rem;}
.ml4r{margin-left: 4rem; margin-right: 4rem;}
.ml5r{margin-left: 5rem; margin-right: 5rem;}
.ml6r{margin-left: 6rem; margin-right: 6rem;}
.ml7r{margin-left: 7rem; margin-right: 7rem;}
.ml8r{margin-left: 8rem; margin-right: 8rem;}
.ml9r{margin-left: 9rem; margin-right: 9rem;}
.ml1r{margin-left: 1rem; margin-right: 1rem;}
.mlar{margin-left: auto;margin-right: auto;}
.mt0b{margin-top: 0px;margin-bottom: 0px;}
.mt2b{margin-top: 2.5rem; margin-bottom: 2.5rem;}
.mt3b{margin-top: 3rem; margin-bottom: 3rem;}
.mt4b{margin-top: 4rem; margin-bottom: 4rem;}
.mt5b{margin-top: 5rem; margin-bottom: 5rem;}
.mt6b{margin-top: 6rem; margin-bottom: 6rem;}
.mt7b{margin-top: 7rem; margin-bottom: 7rem;}
.mt8b{margin-top: 8rem; margin-bottom: 8rem;}
.mt9b{margin-top: 9rem; margin-bottom: 9rem;}
.mt1b{margin-top: 1rem; margin-bottom: 1rem;}
.mtab{margin-top: auto;margin-bottom: auto;}
.tdln{text-decoration-line: none;}
.ttn{text-transform: none;}
.fvnn{font-variant-numeric: normal;}
.fsn{font-style: normal;}
.ps{position: static;width: auto;height: auto;padding: 0;margin: 0;overflow: visible;clip: auto;white-space: normal;}
.op{object-position: bottom;}
.opc{object-position: center;}
.of{object-fit: contain;}
.ofc{object-fit: cover;}
.off{object-fit: fill;}
.opl{object-position: left;}
.ople{object-position: left bottom;}
.ofn{object-fit: none;}
.opr{object-position: right;}
.opri{object-position: right bottom;}
.ofs{object-fit: scale-down;}
.opt{object-position: top;}
.fvno{font-variant-numeric: oldstyle-nums;}
.op0{opacity: 0;}
.op1{opacity: 1;}
.o1{order: 1;}
.o10{order: 10;}
.o11{order: 11;}
.o12{order: 12;}
.o2{order: 2;}
.o3{order: 3;}
.o4{order: 4;}
.o5{order: 5;}
.o6{order: 6;}
.o7{order: 7;}
.o8{order: 8;}
.o9{order: 9;}
.o99{order: -9999;}
.o999{order: 9999;}
.o0{order: 0;}
.to{transform-origin: bottom;}
.tob{transform-origin: bottom left;}
.tobo{transform-origin: bottom right;}
.toc{transform-origin: center;}
.tol{transform-origin: left;}
.tor{transform-origin: right;}
.tot{transform-origin: top;}
.toto{transform-origin: top left;}
.os{outline-style: solid;}
.ow0{outline-width: 0px;}
.ow1{outline-width: 1px;}
.ow2{outline-width: 2px;}
.ow4{outline-width: 4px;}
.ow8{outline-width: 8px;}
.oc{outline-color: #fef3c7;}
.occ{outline-color: currentColor;}
.osd{outline-style: dashed;}
.osdo{outline-style: dotted;}
.oci{outline-color: inherit;}
.o2o{outline: 2px solid transparent;outline-offset: 2px;}
.oo{outline-offset: 0px;}
.oo1{outline-offset: 1px;}
.oo2{outline-offset: 2px;}
.oo4{outline-offset: 4px;}
.oo8{outline-offset: 8px;}
.oct{outline-color: transparent;}
.oa{overflow: auto;}
.ocl{overflow: clip;}
.oh{overflow: hidden;}
.osc{overflow: scroll;}
.ov{overflow: visible;}
.ox{overflow-x: auto;}
.oxc{overflow-x: clip;}
.oxh{overflow-x: hidden;}
.oxs{overflow-x: scroll;}
.oxv{overflow-x: visible;}
.oy{overflow-y: auto;}
.oyc{overflow-y: clip;}
.oyh{overflow-y: hidden;}
.oys{overflow-y: scroll;}
.oyv{overflow-y: visible;}
.tdlo{text-decoration-line: overline;}
.ob{overscroll-behavior: auto;}
.obc{overscroll-behavior: contain;}
.obn{overscroll-behavior: none;}
.obx{overscroll-behavior-x: auto;}
.obxc{overscroll-behavior-x: contain;}
.obxn{overscroll-behavior-x: none;}
.oby{overscroll-behavior-y: auto;}
.obyc{overscroll-behavior-y: contain;}
.obyn{overscroll-behavior-y: none;}
.p0{padding: 0px;}
.p2{padding: 2.5rem;}
.p3{padding: 3rem;}
.p4{padding: 4rem;}
.p5{padding: 5rem;}
.p6{padding: 6rem;}
.p7{padding: 7rem;}
.p8{padding: 8rem;}
.p9{padding: 9rem;}
.p1{padding: 1rem;}
.p10{padding: 10rem;}
.p11{padding: 11rem;}
.p12{padding: 12rem;}
.p13{padding: 13rem;}
.p14{padding: 14rem;}
.p15{padding: 15rem;}
.p16{padding: 16rem;}
.p18{padding: 18rem;}
.p2r{padding: 2rem;}
.p20{padding: 20rem;}
.p24{padding: 24rem;}
.p1p{padding: 1px;}
.pb{padding-bottom: 0px;}
.pb0{padding-bottom: 0.125rem;}
.pb2{padding-bottom: 2.5rem;}
.pb3{padding-bottom: 3rem;}
.pb4{padding-bottom: 4rem;}
.pb5{padding-bottom: 5rem;}
.pb6{padding-bottom: 6rem;}
.pb7{padding-bottom: 7rem;}
.pb8{padding-bottom: 8rem;}
.pb9{padding-bottom: 9rem;}
.pb1{padding-bottom: 1rem;}
.pb10{padding-bottom: 10rem;}
.pb11{padding-bottom: 11rem;}
.pb12{padding-bottom: 12rem;}
.pb13{padding-bottom: 13rem;}
.pb14{padding-bottom: 14rem;}
.pb15{padding-bottom: 15rem;}
.pb16{padding-bottom: 16rem;}
.pb18{padding-bottom: 18rem;}
.pb2r{padding-bottom: 2rem;}
.pb20{padding-bottom: 20rem;}
.pb24{padding-bottom: 24rem;}
.pb1p{padding-bottom: 1px;}
.pi{padding-inline-end: 0px;}
.pie{padding-inline-end: 0.125rem;}
.pie0{padding-inline-end: 0.25rem;}
.pie2{padding-inline-end: 2.5rem;}
.pie3{padding-inline-end: 3rem;}
.pie4{padding-inline-end: 4rem;}
.pie5{padding-inline-end: 5rem;}
.pie6{padding-inline-end: 6rem;}
.pie7{padding-inline-end: 7rem;}
.pie8{padding-inline-end: 8rem;}
.pie9{padding-inline-end: 9rem;}
.pie1{padding-inline-end: 1rem;}
.pl{padding-left: 0px;}
.pl0{padding-left: 0.125rem;}
.pl2{padding-left: 2.5rem;}
.pl3{padding-left: 3rem;}
.pl4{padding-left: 4rem;}
.pl5{padding-left: 5rem;}
.pl6{padding-left: 6rem;}
.pl7{padding-left: 7rem;}
.pl8{padding-left: 8rem;}
.pl9{padding-left: 9rem;}
.pl1{padding-left: 1rem;}
.pl10{padding-left: 10rem;}
.pl11{padding-left: 11rem;}
.pl12{padding-left: 12rem;}
.pl13{padding-left: 13rem;}
.pl14{padding-left: 14rem;}
.pl15{padding-left: 15rem;}
.pl16{padding-left: 16rem;}
.pl18{padding-left: 18rem;}
.pl2r{padding-left: 2rem;}
.pl20{padding-left: 20rem;}
.pl24{padding-left: 24rem;}
.pl1p{padding-left: 1px;}
.pc{place-content: space-around;}
.pcb{place-content: baseline;}
.pcs{place-content: space-between;}
.pcc{place-content: center;}
.pce{place-content: end;}
.pcse{place-content: space-evenly;}
.pcst{place-content: start;}
.pib{place-items: baseline;}
.pic{place-items: center;}
.pien{place-items: end;}
.pis{place-items: start;}
.pist{place-items: stretch;}
.psa{place-self: auto;}
.psc{place-self: center;}
.pse{place-self: end;}
.pss{place-self: start;}
.psst{place-self: stretch;}
.pe{pointer-events: auto;}
.pen{pointer-events: none;}
.pr{padding-right: 0px;}
.pr0{padding-right: 0.125rem;}
.pr2{padding-right: 2.5rem;}
.pr3{padding-right: 3rem;}
.pr4{padding-right: 4rem;}
.pr5{padding-right: 5rem;}
.pr6{padding-right: 6rem;}
.pr7{padding-right: 7rem;}
.pr8{padding-right: 8rem;}
.pr9{padding-right: 9rem;}
.pr1{padding-right: 1rem;}
.pr10{padding-right: 10rem;}
.pr11{padding-right: 11rem;}
.pr12{padding-right: 12rem;}
.pr13{padding-right: 13rem;}
.pr14{padding-right: 14rem;}
.pr15{padding-right: 15rem;}
.pr16{padding-right: 16rem;}
.pr18{padding-right: 18rem;}
.pr2r{padding-right: 2rem;}
.pr20{padding-right: 20rem;}
.pr24{padding-right: 24rem;}
.pr1p{padding-right: 1px;}
.fvnp{font-variant-numeric: proportional-nums;}
.pis0{padding-inline-start: 0px;}
.pis2{padding-inline-start: 2.5rem;}
.pis3{padding-inline-start: 3rem;}
.pis4{padding-inline-start: 4rem;}
.pis5{padding-inline-start: 5rem;}
.pis6{padding-inline-start: 6rem;}
.pis7{padding-inline-start: 7rem;}
.pis8{padding-inline-start: 8rem;}
.pis9{padding-inline-start: 9rem;}
.pis1{padding-inline-start: 1rem;}
.pt{padding-top: 0px;}
.pt0{padding-top: 0.125rem;}
.pt2{padding-top: 2.5rem;}
.pt3{padding-top: 3rem;}
.pt4{padding-top: 4rem;}
.pt5{padding-top: 5rem;}
.pt6{padding-top: 6rem;}
.pt7{padding-top: 7rem;}
.pt8{padding-top: 8rem;}
.pt9{padding-top: 9rem;}
.pt1{padding-top: 1rem;}
.pt10{padding-top: 10rem;}
.pt11{padding-top: 11rem;}
.pt12{padding-top: 12rem;}
.pt13{padding-top: 13rem;}
.pt14{padding-top: 14rem;}
.pt15{padding-top: 15rem;}
.pt16{padding-top: 16rem;}
.pt18{padding-top: 18rem;}
.pt2r{padding-top: 2rem;}
.pt20{padding-top: 20rem;}
.pt24{padding-top: 24rem;}
.pt1p{padding-top: 1px;}
.pl0r{padding-left: 0px;padding-right: 0px;}
.pl3r{padding-left: 3rem; padding-right: 3rem;}
.pl4r{padding-left: 4rem; padding-right: 4rem;}
.pl5r{padding-left: 5rem; padding-right: 5rem;}
.pl6r{padding-left: 6rem; padding-right: 6rem;}
.pl7r{padding-left: 7rem; padding-right: 7rem;}
.pl8r{padding-left: 8rem; padding-right: 8rem;}
.pl9r{padding-left: 9rem; padding-right: 9rem;}
.pl1r{padding-left: 1rem; padding-right: 1rem;}
.pt0b{padding-top: 0px;padding-bottom: 0px;}
.pt2b{padding-top: 2.5rem; padding-bottom: 2.5rem;}
.pt3b{padding-top: 3rem; padding-bottom: 3rem;}
.pt4b{padding-top: 4rem; padding-bottom: 4rem;}
.pt5b{padding-top: 5rem; padding-bottom: 5rem;}
.pt6b{padding-top: 6rem; padding-bottom: 6rem;}
.pt7b{padding-top: 7rem; padding-bottom: 7rem;}
.pt8b{padding-top: 8rem; padding-bottom: 8rem;}
.pt9b{padding-top: 9rem; padding-bottom: 9rem;}
.pt1b{padding-top: 1rem; padding-bottom: 1rem;}
.pre{position: relative;}
.rb{resize: both;}
.rn{resize: none;}
.rh{resize: horizontal;}
.rv{resize: vertical;}
.r0{right: 0px;}
.r5{right: 50%;}
.r3{right: 33.333333%;}
.r2{right: 25%;}
.r3r{right: 3rem;}
.r4{right: 4rem;}
.r6{right: 66.666667%;}
.r50{right: 50%;}
.r5r{right: 5rem;}
.r6r{right: 6rem;}
.r7{right: 7rem;}
.r75{right: 75%;}
.r8{right: 8rem;}
.r9{right: 9rem;}
.r1{right: 1rem;}
.r10{right: 10rem;}
.r11{right: 11rem;}
.r12{right: 12rem;}
.r13{right: 13rem;}
.r14{right: 14rem;}
.r15{right: 15rem;}
.r16{right: 16rem;}
.r18{right: 18rem;}
.r2r{right: 2rem;}
.r20{right: 20rem;}
.r24{right: 24rem;}
.ra{right: auto;}
.r100{right: 100%;}
.r1p{right: 1px;}
.tr{transform: rotate(0deg);}
.tro{transform: rotate(1deg);}
.trot{transform: rotate(12deg);}
.br0{border-radius: 0.25rem;}
.br1{border-radius: 1rem;}
.bbrr{border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem;}
.bblr{border-bottom-left-radius: 0.25rem;}
.bse{border-start-end-radius: 0.25rem; border-end-end-radius: 0.25rem;}
.bser{border-start-end-radius: 1rem; border-end-end-radius: 1rem;}
.be{border-end-end-radius: 0.25rem;}
.bee{border-end-end-radius: 1rem;}
.beer{border-end-end-radius: 1.5rem;}
.bes{border-end-start-radius: 0.25rem;}
.besr{border-end-start-radius: 1rem;}
.br9{border-radius: 9999px;}
.btl{border-top-left-radius: 0.25rem; border-bottom-left-radius: 0.25rem;}
.btlr{border-top-left-radius: 1rem; border-bottom-left-radius: 1rem;}
.br0p{border-radius: 0px;}
.btr{border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem;}
.btrr{border-top-right-radius: 1rem; border-bottom-right-radius: 1rem;}
.bssr{border-start-start-radius: 0.25rem; border-end-start-radius: 0.25rem;}
.gr{grid-row: auto;}
.gre{grid-row-end: 1;}
.gre2{grid-row-end: 2;}
.gre3{grid-row-end: 3;}
.gre4{grid-row-end: 4;}
.gre5{grid-row-end: 5;}
.gre6{grid-row-end: 6;}
.gre7{grid-row-end: 7;}
.grea{grid-row-end: auto;}
.grs{grid-row: span 1 / span 1;}
.grsp{grid-row: span 2 / span 2;}
.gr1{grid-row: 1 / -1;}
.grs1{grid-row-start: 1;}
.grs2{grid-row-start: 2;}
.grs3{grid-row-start: 3;}
.grs4{grid-row-start: 4;}
.grs5{grid-row-start: 5;}
.grs6{grid-row-start: 6;}
.grs7{grid-row-start: 7;}
.grsa{grid-row-start: auto;}
.fsa{filter: saturate(0);}
.fsat{filter: saturate(1);}
.ts{transform: scale(0);}
.tsc{transform: scale(1);}
.tsca{transform: scale(1.05);}
.s{scroll-behavior: auto;}
.sm{scroll-margin: 0px;}
.sm0{scroll-margin: 0.125rem;}
.sm2{scroll-margin: 2.5rem;}
.sm3{scroll-margin: 3rem;}
.sm4{scroll-margin: 4rem;}
.sm5{scroll-margin: 5rem;}
.sm6{scroll-margin: 6rem;}
.sm7{scroll-margin: 7rem;}
.sm8{scroll-margin: 8rem;}
.sm9{scroll-margin: 9rem;}
.sm1{scroll-margin: 1rem;}
.sm10{scroll-margin: 10rem;}
.sm11{scroll-margin: 11rem;}
.sm12{scroll-margin: 12rem;}
.sm13{scroll-margin: 13rem;}
.sm14{scroll-margin: 14rem;}
.sm15{scroll-margin: 15rem;}
.sm16{scroll-margin: 16rem;}
.sm18{scroll-margin: 18rem;}
.sm2r{scroll-margin: 2rem;}
.sm20{scroll-margin: 20rem;}
.sm24{scroll-margin: 24rem;}
.sm1p{scroll-margin: 1px;}
.sp{scroll-padding: 0px;}
.sp0{scroll-padding: 0.125rem;}
.sp2{scroll-padding: 2.5rem;}
.sp3{scroll-padding: 3rem;}
.sp4{scroll-padding: 4rem;}
.sp5{scroll-padding: 5rem;}
.sp6{scroll-padding: 6rem;}
.sp7{scroll-padding: 7rem;}
.sp8{scroll-padding: 8rem;}
.sp9{scroll-padding: 9rem;}
.sp1{scroll-padding: 1rem;}
.sp10{scroll-padding: 10rem;}
.sp11{scroll-padding: 11rem;}
.sp12{scroll-padding: 12rem;}
.sp13{scroll-padding: 13rem;}
.sp14{scroll-padding: 14rem;}
.sp15{scroll-padding: 15rem;}
.sp16{scroll-padding: 16rem;}
.sp18{scroll-padding: 18rem;}
.sp2r{scroll-padding: 2rem;}
.sp20{scroll-padding: 20rem;}
.sp24{scroll-padding: 24rem;}
.sp1p{scroll-padding: 1px;}
.sb{scroll-behavior: smooth;}
.u{user-select: all;}
.us{user-select: auto;}
.usn{user-select: none;}
.ust{user-select: text;}
.asa{align-self: auto;}
.asb{align-self: baseline;}
.asc{align-self: center;}
.asf{align-self: flex-end;}
.asfs{align-self: flex-start;}
.ass{align-self: stretch;}
.fse{filter: sepia(100%);}
.fsep{filter: sepia(0);}
.bs01{box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);}
.bsi{box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);}
.bs03{box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);}
.bs0 {box-shadow: 0 0 #0000;}
.bs05{box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);}
.fs1{flex-shrink: 1;}
.fs0{flex-shrink: 0;}
.tsk{transform: skewX(0deg);}
.tske{transform: skewX(1deg);}
.fvns{font-variant-numeric: slashed-zero;}
.ss{scroll-snap-align: none;}
.sss{scroll-snap-stop: always;}
.ssa{scroll-snap-align: center;}
.ssae{scroll-snap-align: end;}
.sst{scroll-snap-type: none;}
.sssn{scroll-snap-stop: normal;}
.ssas{scroll-snap-align: start;}
.ml0p{margin-left: 0px;}
.mt0p{margin-top: 0px;}
.mt3r{margin-top: 3rem;}
.mt4r{margin-top: 4rem;}
.mt5r{margin-top: 5rem;}
.mt6r{margin-top: 6rem;}
.mt7r{margin-top: 7rem;}
.mt8r{margin-top: 8rem;}
.mt9r{margin-top: 9rem;}
.mt1r{margin-top: 1rem;}
.pa{position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);white-space: nowrap;border-width: 0;}
.iis0{inset-inline-start: 0px;}
.iis5{inset-inline-start: 50%;}
.iis3{inset-inline-start: 33.333333%;}
.iis2{inset-inline-start: 25%;}
.iis4{inset-inline-start: 4rem;}
.iis6{inset-inline-start: 66.666667%;}
.iis7{inset-inline-start: 7rem;}
.iis8{inset-inline-start: 8rem;}
.iis9{inset-inline-start: 9rem;}
.iis1{inset-inline-start: 1rem;}
.iisa{inset-inline-start: auto;}
.pst{position: static;}
.psti{position: sticky;}
.sw{stroke-width: 0;}
.sw1{stroke-width: 1;}
.sw2{stroke-width: 2;}
.sc{stroke: currentColor;}
.si{stroke: inherit;}
.sn{stroke: none;}
.st{stroke: transparent;}
.dt{display: table;}
.tl{table-layout: auto;}
.dtc{display: table-caption;}
.dtce{display: table-cell;}
.dtco{display: table-column;}
.dtcg{display: table-column-group;}
.tlf{table-layout: fixed;}
.dtf{display: table-footer-group;}
.dth{display: table-header-group;}
.dtr{display: table-row;}
.dtrg{display: table-row-group;}
.fvnt{font-variant-numeric: tabular-nums;}
.fs1h{font-size: 1.5rem; line-height: 2rem;}
.fs2{font-size: 2.25rem; line-height: 2.5rem;}
.fs3{font-size: 3rem; line-height: 1;}
.fs3h{font-size: 3.75rem; line-height: 1;}
.fs4{font-size: 4.5rem; line-height: 1;}
.fs6{font-size: 6rem; line-height: 1;}
.fs8{font-size: 8rem; line-height: 1;}
.tac{text-align: center;}
.tocl{text-overflow: clip;}
.toe{text-overflow: ellipsis;}
.tae{text-align: end;}
.taj{text-align: justify;}
.tal{text-align: left;}
.tar{text-align: right;}
.fs0h{font-size: 0.875rem; line-height: 1.25rem;}
.tas{text-align: start;}
.t0p{top: 0px;}
.t33{top: 33.333333%;}
.t25{top: 25%;}
.t3re{top: 3rem;}
.t4r{top: 4rem;}
.t66{top: 66.666667%;}
.t5re{top: 5rem;}
.t6re{top: 6rem;}
.t7r{top: 7rem;}
.t8r{top: 8rem;}
.t9r{top: 9rem;}
.t1r{top: 1rem;}
.t10r{top: 10rem;}
.t11r{top: 11rem;}
.t12r{top: 12rem;}
.t13r{top: 13rem;}
.t14r{top: 14rem;}
.t15r{top: 15rem;}
.t16r{top: 16rem;}
.t18r{top: 18rem;}
.t2re{top: 2rem;}
.t20r{top: 20rem;}
.t24r{top: 24rem;}
.tau{top: auto;}
.t1px{top: 1px;}
.taa{touch-action: auto;}
.tam{touch-action: manipulation;}
.tan{touch-action: none;}
.tap{touch-action: pan-down;}
.tapl{touch-action: pan-left;}
.tapr{touch-action: pan-right;}
.tapu{touch-action: pan-up;}
.tapx{touch-action: pan-x;}
.tapy{touch-action: pan-y;}
.tapz{touch-action: pinch-zoom;}
.ls0{letter-spacing: 0em;}
.tp{transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);transition-duration: 150ms;}
.tpa{transition-property: all;transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);transition-duration: 150ms;}
.tpc{transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);transition-duration: 150ms;}
.tpn{transition-property: none;}
.tpo{transition-property: opacity;transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);transition-duration: 150ms;}
.tpb{transition-property: box-shadow;transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);transition-duration: 150ms;}
.tpt{transition-property: transform;transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);transition-duration: 150ms;}
.ttr{transform: translateX(0px);}
.ttra{transform: translateX(0.125rem);}
.oho{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.tdlu{text-decoration-line: underline;}
.tu{text-underline-offset: 0px;}
.tuo{text-underline-offset: 1px;}
.tuo2{text-underline-offset: 2px;}
.tuo4{text-underline-offset: 4px;}
.tuo8{text-underline-offset: 8px;}
.tuoa{text-underline-offset: auto;}
.ttu{text-transform: uppercase;}
.vv{visibility: visible;}
.w0{width: 0px;}
.w8{width: 8.333333%;}
.w5{width: 50%;}
.w3{width: 33.333333%;}
.w2{width: 25%;}
.w20{width: 20%;}
.w1{width: 16.666667%;}
.w83{width: 83.333333%;}
.w9{width: 91.666667%;}
.w3r{width: 3rem;}
.w4{width: 4rem;}
.w16{width: 16.666667%;}
.w6{width: 66.666667%;}
.w50{width: 50%;}
.w40{width: 40%;}
.w33{width: 33.333333%;}
.w5r{width: 5rem;}
.w6r{width: 6rem;}
.w7{width: 7rem;}
.w25{width: 25%;}
.w75{width: 75%;}
.w60{width: 60%;}
.w8r{width: 8rem;}
.w9r{width: 9rem;}
.w1r{width: 1rem;}
.w80{width: 80%;}
.w66{width: 66.666667%;}
.w10{width: 10rem;}
.w11{width: 11rem;}
.w12{width: 12rem;}
.w41{width: 41.666667%;}
.w13{width: 13rem;}
.w14{width: 14rem;}
.w15{width: 15rem;}
.w16r{width: 16rem;}
.w58{width: 58.333333%;}
.w18{width: 18rem;}
.w2r{width: 2rem;}
.w20r{width: 20rem;}
.w24{width: 24rem;}
.wa{width: auto;}
.wf{width: fit-content;}
.w100{width: 100%;}
.wm{width: max-content;}
.wmc{width: min-content;}
.w1p{width: 1px;}
.ws{white-space: break-spaces;}
.wsn{white-space: normal;}
.wsno{white-space: nowrap;}
.wsp{white-space: pre;}
.wspl{white-space: pre-line;}
.wspw{white-space: pre-wrap;}
.wc{will-change: auto;}
.wcc{will-change: contents;}
.wcs{will-change: scroll-position;}
.wct{will-change: transform;}
.z{z-index: 0;}
.zi{z-index: 10;}
.zi2{z-index: 20;}
.zi3{z-index: 30;}
.zi4{z-index: 40;}
.zi5{z-index: 50;}
.zia{z-index: auto;}
